---
import Layout from "../layouts/default.astro";
import { Display } from "../components/display";
import { Increment } from "../components/increment";
---

<Layout>
	<div class="flex items-center justify-center m-auto flex-col">
		<div class="flex p-2"><Display client:only="react" /></div>
		<div class="flex flex-row p-2"><Increment client:only="solid-js" /></div>
	</div>
</Layout>
